{% extends 'base.html.twig' %}

{% block title %}Support Page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        body {
            background-color: #121212;
            color: #fff;
        }
        .list-group-item {
            background-color: #333;
            border-color: #444;
            color: #fff;
        }
        .list-group-item:hover {
            background-color: #444;
        }
        .container {
            max-width: 960px;
            margin: 0 auto;
        }
        .section-title {
            border-bottom: 2px solid #007bff;
            padding-bottom: 10px;
            margin-bottom: 30px;
            color: #007bff;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="text-center mb-5">Support Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2 class="section-title">Courses</h2>
            <ul class="list-group"> 
                {% for course in courses %}
                    <li class="list-group-item">{{course.title}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="section-title">TDs</h2>
            <ul class="list-group">
                {% for TD in TDs %}
                    <li class="list-group-item">{{TD.title}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="section-title">TPs</h2>
            <ul class="list-group">
                {% for TP in TPs %}
                    <li class="list-group-item">{{TP.title}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="section-title">Exams</h2>
            <ul class="list-group">
                {% for EXAM in EXAMs %}
                    <li class="list-group-item">{{EXAM.title}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
