{% extends 'base.html.twig' %}

{% block title %}Support{% endblock %}

{% block body %}
    <h1>Support</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ support.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ support.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ support.type }}</td>
            </tr>
            <tr>
                <th>Dsecription</th>
                <td>{{ support.dsecription }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_support_index') }}">back to list</a>

    <a href="{{ path('app_support_edit', {'id': support.id}) }}">edit</a>

    {{ include('support/_delete_form.html.twig') }}
{% endblock %}
