<div class="container d-flex justify-content-center">
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Username', 'style': 'background-color: #333; color: #fff; border-color: #555'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email', 'style': 'background-color: #333; color: #fff; border-color: #555'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Password', 'type': 'password', 'style': 'background-color: #333; color: #fff; border-color: #555'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.role, {'attr': {'class': 'form-control', 'style': 'background-color: #333; color: #fff; border-color: #555'}, 'choices': {'Admin': 'Admin', 'User': 'User'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
            </div>
        </div>
    {{ form_end(form) }}
</div>
